// colors

// light
$color-light-primary-main: #00D8DB;
$color-light-primary-accent: #07F4F4;
$color-light-primary-light: #C2FFFF;
$color-light-primary-dark: #00696F;
$color-light-primary-contrast: #141414;

$color-light-neutral-main: $color-light-primary-contrast;
$color-light-neutral-dark: #4A4A4A;
$color-light-neutral-medium: #818181;
$color-light-neutral-light: #DFDFDF;
$color-light-neutral-contrast: #FFFFFF;

$color-light-text-primary: #000000DE;
$color-light-text-secondary: #00000094;
$color-light-text-disabled: #00000061;

$color-light-background-paper: #F6F6F6;
$color-light-background-default: #FFFFFF;

$color-light-common-white: #FFFFFF;
$color-light-common-black: #000000;

$color-light-action-active: #0000008A;
$color-light-action-hover: #0000000A;
$color-light-action-selected: #00000014;
$color-light-action-disabled: #00000042;
$color-light-action-disabled-background: #0000001F;
$color-light-action-focus: #0000001F;

$color-light-other-divider: #0000001A;

$color-light-success-main: #00D8DB;
$color-light-success-light: #C2FFFF;
$color-light-success-dark: #00696F;
$color-light-success-contrast: $color-light-primary-contrast;

$color-light-warning-main: #FE8D25;
$color-light-warning-light: #FFDDA8;
$color-light-warning-dark: #9D3D0F;
$color-light-warning-contrast: $color-light-common-white;

$color-light-destructive-main: #FF2C38;
$color-light-destructive-light: #FFC5C8;
$color-light-destructive-dark: #A50F18;
$color-light-destructive-contrast: $color-light-common-white;

// dark
$color-dark-primary-main: #07F4F4;
$color-dark-primary-accent: #40FDFF;
$color-dark-primary-light: #C2FFFF;
$color-dark-primary-dark: #00858C;
$color-dark-primary-contrast: #141414;

$color-dark-neutral-main: #F6F6F6;
$color-dark-neutral-dark: #CBCBCB;
$color-dark-neutral-medium: #818181;
$color-dark-neutral-light: #333333;
$color-dark-neutral-contrast: $color-dark-primary-contrast;

$color-dark-text-primary: #FFFFFF;
$color-dark-text-secondary: #FFFFFFB2;
$color-dark-text-disabled: #FFFFFF80;

$color-dark-background-paper: #141414;
$color-dark-background-default: #000000;

$color-dark-common-white: #000000;
$color-dark-common-black: #FFFFFF;

$color-dark-action-active: #FFFFFF8F;
$color-dark-action-hover: #FFFFFF14;
$color-dark-action-selected: #FFFFFF29;
$color-dark-action-disabled: #FFFFFF4D;
$color-dark-action-disabled-background: #FFFFFF1F;
$color-dark-action-focus: #FFFFFF1F;

$color-dark-other-divider: #FFFFFF2E;

$color-dark-success-main: #07F4F4;
$color-dark-success-light: #C2FFFF;
$color-dark-success-dark: #00858C;
$color-dark-success-contrast: $color-dark-primary-contrast;

$color-dark-warning-main: #FFA038;
$color-dark-warning-light: #FFDDA8;
$color-dark-warning-dark: #C64C08;
$color-dark-warning-contrast: #000000;

$color-dark-destructive-main: #FF2C38;
$color-dark-destructive-light: #FFC5C8;
$color-dark-destructive-dark: #C80834;
$color-dark-destructive-contrast: #000000;

// fonts

$font-inter-light-name: Inter-Light;
$font-inter-regular-name: Inter-Regular;
$font-inter-medium-name: Inter-Medium;
$font-inter-semibold-name: Inter-SemiBold;
$font-inter-bold-name: Inter-Bold;
$font-inter-extrabold-name: Inter-ExtraBold;

$inter-light-font: $font-inter-light-name, sans-serif; // 300
$inter-font: $font-inter-regular-name, sans-serif; // 400
$inter-medium-font: $font-inter-medium-name, sans-serif; // 500
$inter-semibold-font: $font-inter-semibold-name, sans-serif; // 600
$inter-bold-font: $font-inter-bold-name, sans-serif; // 700
$inter-extrabold-font: $font-inter-extrabold-name, sans-serif; // 800

$font-outfit-light-name: Outfit-Light;
$font-outfit-regular-name: Outfit-Regular;
$font-outfit-medium-name: Outfit-Medium;
$font-outfit-semibold-name: Outfit-SemiBold;
$font-outfit-bold-name: Outfit-Bold;
$font-outfit-extrabold-name: Outfit-ExtraBold;

$outfit-light-font: $font-outfit-light-name, sans-serif; // 300
$outfit-font: $font-outfit-regular-name, sans-serif; // 400
$outfit-medium-font: $font-outfit-medium-name, sans-serif; // 500
$outfit-semibold-font: $font-outfit-semibold-name, sans-serif; // 600
$outfit-bold-font: $font-outfit-bold-name, sans-serif; // 700
$outfit-extrabold-font: $font-outfit-extrabold-name, sans-serif; // 800

// headings
$h-letter-spacing: -2%;
$h-display-large-800: 52px/52px $outfit-extrabold-font;
$h-display-large-700: 52px/52px $outfit-bold-font;
$h-display-large-600: 52px/52px $outfit-semibold-font;
$h-display-large-500: 52px/52px $outfit-medium-font;

$h-display-small-800: 44px/46px $outfit-extrabold-font;
$h-display-small-700: 44px/46px $outfit-bold-font;
$h-display-small-600: 44px/46px $outfit-semibold-font;
$h-display-small-500: 44px/46px $outfit-medium-font;

$h-h1-800: 40px/42px $outfit-extrabold-font;
$h-h1-700: 40px/42px $outfit-bold-font;
$h-h1-600: 40px/42px $outfit-semibold-font;
$h-h1-500: 40px/42px $outfit-medium-font;

$h-h2-800: 36px/40px $outfit-extrabold-font;
$h-h2-700: 36px/40px $outfit-bold-font;
$h-h2-600: 36px/40px $outfit-semibold-font;
$h-h2-500: 36px/40px $outfit-medium-font;

$h-h3-800: 32px/36px $outfit-extrabold-font;
$h-h3-700: 32px/36px $outfit-bold-font;
$h-h3-600: 32px/36px $outfit-semibold-font;
$h-h3-500: 32px/36px $outfit-medium-font;

$h-h4-800: 28px/32px $outfit-extrabold-font;
$h-h4-700: 28px/32px $outfit-bold-font;
$h-h4-600: 28px/32px $outfit-semibold-font;
$h-h4-500: 28px/32px $outfit-medium-font;

$h-h5-800: 24px/28px $outfit-extrabold-font;
$h-h5-700: 24px/28px $outfit-bold-font;
$h-h5-600: 24px/28px $outfit-semibold-font;
$h-h5-500: 24px/28px $outfit-medium-font;

$h-h6-800: 20px/24px $outfit-extrabold-font;
$h-h6-700: 20px/24px $outfit-bold-font;
$h-h6-600: 20px/24px $outfit-semibold-font;
$h-h6-500: 20px/24px $outfit-medium-font;


$h-h1-mobile-800: 36px/40px $outfit-extrabold-font;
$h-h1-mobile-700: 36px/40px $outfit-bold-font;
$h-h1-mobile-600: 36px/40px $outfit-semibold-font;
$h-h1-mobile-500: 36px/40px $outfit-medium-font;

$h-h2-mobile-800: 32px/36px $outfit-extrabold-font;
$h-h2-mobile-700: 32px/36px $outfit-bold-font;
$h-h2-mobile-600: 32px/36px $outfit-semibold-font;
$h-h2-mobile-500: 32px/36px $outfit-medium-font;

$h-h3-mobile-800: 28px/32px $outfit-extrabold-font;
$h-h3-mobile-700: 28px/32px $outfit-bold-font;
$h-h3-mobile-600: 28px/32px $outfit-semibold-font;
$h-h3-mobile-500: 28px/32px $outfit-medium-font;

$h-h4-mobile-800: 24px/28px $outfit-extrabold-font;
$h-h4-mobile-700: 24px/28px $outfit-bold-font;
$h-h4-mobile-600: 24px/28px $outfit-semibold-font;
$h-h4-mobile-500: 24px/28px $outfit-medium-font;

$h-h5-mobile-800: 20px/24px $outfit-extrabold-font;
$h-h5-mobile-700: 20px/24px $outfit-bold-font;
$h-h5-mobile-600: 20px/24px $outfit-semibold-font;
$h-h5-mobile-500: 20px/24px $outfit-medium-font;

$h-h6-mobile-800: 18px/24px $outfit-extrabold-font;
$h-h6-mobile-700: 18px/24px $outfit-bold-font;
$h-h6-mobile-600: 18px/24px $outfit-semibold-font;
$h-h6-mobile-500: 18px/24px $outfit-medium-font;


// paragraphs

$p-large-400: 18px/28px $inter-font;
$p-large-500: 18px/28px $inter-medium-font;
$p-large-600: 18px/28px $inter-semibold-font;

$p-medium-400: 16px/24px $inter-font;
$p-medium-500: 16px/24px $inter-medium-font;
$p-medium-600: 16px/24px $inter-semibold-font;

$p-small-400: 14px/20px $inter-font;
$p-small-500: 14px/20px $inter-medium-font;
$p-small-600: 14px/20px $inter-semibold-font;

$p-x-small: 12px/20px $inter-font;
$p-x-small: 12px/20px $inter-medium-font;
$p-x-small: 12px/20px $inter-semibold-font;

$p-overline: 14px $inter-semibold-font;
$p-overline-small: 12px $inter-semibold-font;


// labels

$l-large-400: 16px/24px $inter-font;
$l-large-500: 16px/24px $inter-medium-font;
$l-large-600: 16px/24px $inter-semibold-font;

$l-medium-400: 14px/20px $inter-font;
$l-medium-500: 14px/20px $inter-medium-font;
$l-medium-600: 14px/20px $inter-semibold-font;

$l-small-400: 12px/16px $inter-font;
$l-small-500: 12px/16px $inter-medium-font;
$l-small-600: 12px/16px $inter-semibold-font;

$l-x-large-400: 10px/14px $inter-font;
$l-x-large-500: 10px/14px $inter-medium-font;
$l-x-large-600: 10px/14px $inter-semibold-font;


// spacings

$spacing-xx-sm: 4px;
$spacing-x-sm: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-big: 20px;
$spacing-x-big: 24px;
$spacing-xx-big: 28px;
$spacing-xxx-big: 32px;
$spacing-lg: 40px;
$spacing-x-lg: 48px;
$spacing-xx-lg: 64px;
$spacing-xxx-lg: 80px;
$spacing-huge: 96px;
$spacing-x-huge: 128px;
$spacing-xx-huge: 160px;
$spacing-xxx-huge: 192px;

$m-desktop: 112px;

// shadows

$shadow-xsmall: 0px 1px 2px 0px #1018280A, 0px 1px 2px 0px #1018280A;
$shadow-small: 0px 2px 6px 0px #1018280F;
$shadow-medium:  0px 6px 15px -2px #10182814, 0px 6px 15px -2px #10182814;
$shadow-large: 0px 8px 24px -3px #1018281A, 0px 8px 24px -3px #1018280D;
$shadow-xlarge: 0px 20px 40px -8px #1018281A, 0px 20px 40px -8px #1018280D;
$shadow-xxlarge: 0px 25px 60px -15px #10182833, 0px 25px 60px -15px #1018281F;

// breakpoints

$bp-tablet: 1440px;
$bp-mobile: 768px;

// animations
$tra-cubic: cubic-bezier(.48,.92,.41,.9);